
<div class="col-md-8 blog-main">

<div class="blog-post">
<h2><%= @blog.title %></h2>
  <%= @blog.body %>
</div>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
</div>
