
<h1  class="cover-heading">About Me</h1>

<div class="row">
<div class="col-md-5">
    <%= image_tag "boat.png", width:300, alt:"profile image "%>
</div>
<div class="col-md-7">
<p>Cheesy grin brie st. agur blue cheese. Manchego cheese and biscuits cow melted cheese roquefort queso who moved my cheese brie. Squirty cheese cheesecake cheese on toast jarlsberg rubber cheese fromage frais camembert de normandie halloumi. Lancashire cheese and wine.</p>

<p>Gouda feta manchego. Cheesy grin halloumi smelly cheese fromage frais stilton port-salut when the cheese comes out everybody's happy caerphilly. Brie cheese and wine lancashire chalk and cheese airedale parmesan stilton parmesan. Babybel.</p>

<p>Dolcelatte airedale cheddar. Cheeseburger cheesy feet cow cheese strings jarlsberg brie monterey jack bocconcini. Croque monsieur cheesecake ricotta cottage cheese fromage frais swiss airedale cheesy feet. Fondue danish fontina cheese strings cheesy feet.</p>
</div>
</div>
