<h1>Pages#contact</h1>

<p>Find me on <%= number_to_phone "5555555555" %></p>
<iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d96751.852719912!2d-74.0394684818981!3d40.72912353285428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d40.7247159!2d-73.9510677!4m5!1s0x89c2599f2db306bb%3A0x2a5c7f9eea6938a0!2sUnion%20Square%20Park%20201%20Park%20Avenue%20South!3m2!1d40.735823499999995!2d-73.9905215!5e0!3m2!1sen!2sus!4v1591802183880!5m2!1sen!2sus"
 width="600" height="450" frameborder="0" style="border:0;" 
 allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
