@import "bootstrap";

* { 
    margin: 0;
    padding:0;
}

.top {
    background-color:#475B63;
}

a {
    text-decoration: none;
}

.top a:visited, 
.top a:hover {
    text-decoration: none;
    color:white;
}